{% set global = craft.entries.section('global').one() %}
{% set flashes = craft.app.session.getAllFlashes(true) %}

<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
  <link rel="shortcut icon" href="/assets/icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Polhemus" />
  <link rel="manifest" href="/assets/icons/site.webmanifest" />
  <meta charset="utf-8" />
  <title>{% if flashes|length %}{% for level, flash in flashes %}{{ flash }} - {% endfor %}{% endif %}{{ entry.title }}{% block title %}{% endblock %} | {{ siteName }}</title>
  <meta name="referrer" content="origin-when-cross-origin" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anta&family=Inter:ital,opsz@0,14..32;1,14..32&family=Orbitron:wght@900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">

  <link rel="stylesheet" href="{{ siteUrl }}assets/css/reset.css?v={{ getenv('SERVD_BUNDLE_HASH')}}">
  <!--<link rel="stylesheet" href="{{ siteUrl }}assets/css/main.css?v={{ getenv('SERVD_BUNDLE_HASH')}}">-->
  <link rel="stylesheet" href="{{ siteUrl }}assets/css/style.min.css?v={{ getenv('SERVD_BUNDLE_HASH')}}">
  
</head>
<body class="{{ entry.slug }} {{ entry.type }}">
  
  {% include "_partials/header" %}
  
  <main id="main" tabindex="-1">
    {% block content %}{% endblock %}
  </main>

  {% include "_partials/footer" %}
  
  <script src="{{ siteUrl }}assets/js/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://unpkg.com/@rive-app/canvas"></script>  
  <script src="//cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
  <script src="{{ siteUrl }}assets/js/scripts.min.js?v={{ getenv('SERVD_BUNDLE_HASH')}}"></script>
  
  
</body>
</html>
